@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.TeacherCard {
  box-sizing: border-box;
  display: flex;
  width: 1184px;
  padding: 24px;
  column-gap: 48px;

  border-radius: 24px;
  background: #fff;
}

.TeacherImageContainer {
  position: relative;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 3px solid #fbe9ba;
  background: #fff;
}

.TeacherImage {
  width: 96px;
  height: 96px;

  border-radius: 100px;
}

.TeacherIconContainer {
  position: absolute;
  top: 16px;
  left: 82px;
}

.TeacherTextInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}

.CommonInfo {
  display: flex;
  justify-content: space-between;
}

.DetailedInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.Experience {
  width: 968px;
  margin: 0;

  color: #121417;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.ReadMoreButton {
  background: none;
  border: none;
  padding: 0;

  color: #121417;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}

.BookTrialLessonButton {
  padding: 16px 48px;

  border: none;
  border-radius: 12px;
  background-color: #f4c550;

  color: #121417;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}

.BookTrialLessonButton:hover,
.BookTrialLessonButton:focus {
  background-color: #ffdc86;
}
.BookTrialLessonButton:not(:hover) {
  background-color: #f4c550;
}
