.PageSwitcherButtons {
  list-style: none;
  padding: 0;

  display: flex;
  column-gap: 8px;
}

.PageSwitcherButton,
.PageSwitcherDiv,
.PageSwitcherInput {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 35px;

  color: #121417;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.PageSwitcherButton {
  border: 2px solid #f4c550;
  background-color: #fff;
}

.PageSwitcherDiv {
  border: 1px solid rgba(18, 20, 23, 0.2);
}

.PageSwitcherButton:hover {
  background-color: #f4c550;
  color: #fff;
}

.PageSwitcherButton:active {
  background-color: #ffdc86;
  color: #fff;
}

.PageSwitcherInput {
  border: 1px solid rgba(18, 20, 23, 0.2);
  outline: none;
}

.PageSwitcherInput:focus-within {
  border: 2px solid #f4c550;
}
