.Backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.Modal {
  border-radius: 30px;
  background: #fff;
}

.ModalHeader {
  box-sizing: border-box;
  padding: 20px 20px 12px 20px;

  display: flex;
  justify-content: flex-end;
}

.CloseButton {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.CloseButton:hover {
  background-color: #f4c550;
}

.CloseButton:active {
  background-color: #ffdc86;
}

.ModalContent {
  box-sizing: border-box;
  padding: 0px 64px 64px 64px;
}
