body {
  background-color: #f8f8f8;
  font-family: "roboto-regular", cursive;
  font-size: 16px;
}

@font-face {
  font-family: "roboto-regular";
  src: url("fonts/Roboto-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "roboto-medium";
  src: url("fonts/Roboto-Medium.ttf") format(truetype);
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/Roboto-Bold.ttf") format(truetype);
}

.Regular {
  font-family: "roboto-regular";
}

.Medium {
  font-family: "roboto-medium";
}

.Bold {
  font-family: "roboto-bold";
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  body {
    background-color: green;
  }
}

.NavigationBar {
  display: flex;
  gap: 28px;
}

.NavigationButton {
  border: none;
  background: none;
  padding: none;

  color: #121417;
  font-size: 16px;
  line-height: 20px;
}

.NavigationButton:hover,
.NavigationButton:focus {
  color: #f4c550;
}

.NavigationButton:active {
  color: #fbe9ba;
}

.NavigationDiv {
  color: rgba(18, 20, 23, 0.2);
  font-size: 16px;
  line-height: 20px;
}

/*
Colors:
#121417
#fbe9ba
#f4c550
#8a8a89
rgba(18, 20, 23, 0.2)
#fff
*/
