.Backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.Modal {
  width: 200px;
  height: 200px;
  padding: 10px;

  border-radius: 20px;
  background-color: rgb(150, 100, 200);

  text-align: center;
  font-size: 24px;
  color: rgb(250, 245, 255);
}
